/bin
/vendor
/vendor.pb
/vendor.protogen
.DS_STORE
/.idea
/.vscode

/.o3/k8s/values_local.yaml
/.o3/k8s/values_test.yaml
/cover.out.tmp
/cover.out

# Тесты на кракен сломаны.
# По аналогии с другими сервисами исключаем их.
/**/*kraken*/**/*_test.go
